body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
    

}
.nv {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  width:100%;
  background-color: #016367;
}
.items{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    font-size: larger;
    font-weight: bold;
    padding-left: 50px;
    font-size: 45px;
    color: white;
    
    
}
.list1{

    list-style: none;
    display: flex;
}
.list1 li{
    padding-inline: 15px;
    justify-content: center;
    display: flex;
    position: relative;
}
.list1 li::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background: white;
    transition: 0.3s ease-in-out;
}
.list1 li a {
    text-decoration: none;
    color: white;
}
.list1 li.active::after,
.list1 li:hover::after{
    width: 100%;
    transition: 0.3s ease-in-out;
    
}

.half{
    
    display: flex;
    align-items: center;
    padding-inline: 5px;
    padding-right: 20px;
}
.half a {
    padding-inline: 15px;
    align-items: center;
    padding-top: 3px;
}
.half form button{
    background-color: #016367;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:5px;
    border-color: white;

}
.half form{

    display: flex;
    align-items: center;
}
.half form input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #016367;
    border-color: rgb(196, 196, 196);
    height: 30px;
    width: 75px;
    outline: none;

}
.half form input::placeholder{
    color: white;
}

.part1 {
    text-align: center;
    background-color: #016367;
    max-height: 600px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    position: relative;
}
.who {
    font-size: 40px;
    color: #ffffff;
    width: 100%;
    height: auto;
    transform: translateY(80%);
}

.kanab {
    position: relative;
    top: 50px;
    border-radius:20px;
    
}

.story {
    text-align: left;
    background-color: #FFF;
    padding: 70px;
    margin-left: 5px;


}
.story p {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}
.ostory{
    font-size: 20px;
    color: #016367;

}

.projects {
    background-color: #FFF;
    padding: 20px;
    text-align: center;
}

.oproject {
    text-align: left;
    color: #016367;
    font-size: 20px;
    padding: 50px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
}
nav li {
    display:inline-block ;
    margin: 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.color {
    width: 200px;
    text-align: center;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #016367;
    color: white;
}
h4 {
    font-size: 20px;
    transform: translateY(-30%);
}
.rooms {
    display: flex;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    padding: 20px;
}

.room {
    flex: auto;
    width: 250px;
    text-align: center;
    margin: 0,10px;
    height: auto;

}
.room img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 350px;
    width: 300px;
}

.question {
    text-align: left;
    background-color: #FFF;
    padding: 70px;
    margin:auto
}

h2 {
    font-size: large;
    color: #016367;
}

.b{
    text-align: left;
    width: 35%;
    margin-top: 25px;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    
}

.table {
    float: right;
    margin-left: 10px;
    margin-bottom: 200px;
    transform: translateY(-30%);
}

.learn {
    background-color: #016367;
    text-align: center;
    color:#FFF;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

